absl-py==0.14.0
aiohttp==3.7.4.post0
argcomplete==1.12.3
async-timeout==3.0.1
attrs==21.2.0
boto==2.49.0
cachetools==4.2.4
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.6
cloudpickle==2.0.0
crcmod==1.7
cryptography==35.0.0
fasteners==0.16.3
fsspec==2021.9.0
future==0.18.2
gcs-oauth2-boto-plugin==3.0
google-apitools==0.5.32
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-reauth==0.1.1
grpcio==1.41.0
gsutil==5.3
gym==0.20.0
httplib2==0.19.1
idna==3.2
learn2learn==0.1.6
Markdown==3.3.4
monotonic==1.6
multidict==5.1.0
numpy==1.21.2
oauth2client==4.1.3
oauthlib==3.1.1
packaging==21.0
Pillow==8.3.2
protobuf==3.18.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyDeprecate==0.3.1
pyOpenSSL==21.0.0
pyparsing==2.4.7
pytorch-lightning==1.4.9
pyu2f==0.1.5
PyYAML==5.4.1
qpth==0.0.15
requests==2.26.0
requests-oauthlib==1.3.0
retry-decorator==1.1.1
rsa==4.7.2
scipy==1.7.1
six==1.16.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
torch==1.9.1
torchmetrics==0.5.1
torchsummary==1.5.1
torchvision==0.10.1
tqdm==4.62.3
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.1
yarl==1.6.3
